.centerRow {
    text-align: center;   
}

.centerRow p {
    text-align: justify;   
}

.img {
    border-radius: 35px;
    height: 300px;
    margin: 5px;
}

.pageTitle {
    border: 1px solid #ffffff;
    margin: auto;
    padding: 5px 0px;
    width: 75%;
}

.pageTitle div {
    background-color: #ffc83f;    
    width: 105%;
}

.row {
    margin: 0 15vw;
}

.selfieRow {
    margin: 0;    
}

@media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2),
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2),
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3),
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3),
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
 
  .img {
      border-radius: 15px;
      height: 90px;
      margin: 5px;
  }
      
  .row {
      margin: 0 5vw;
  }
}
