.cvArea {
  background-color: #eff1f4;
  color: #000000;
  padding: 25px 50px;
}

.cvArea .areaHeading {
  font-size: 20px;
  font-weight: bold;
}

.cvArea ul {
  font-size: 16px;
  margin-left: 50px;
}

.row {
    margin: 0 5vw;
}
