#enter {
    margin: auto;
    text-align: center;
    top: 50%;
    width: 900px;
}

#info {
    display: none;
}

#mugshot {
    display: none;
    height: 300px;
    width: 225px;
}

#name {
    display: none;
}