body {
    background-color: #61666D !important;
    color: #ffffff !important;
    font-family: 'PT Sans', sans-serif;
}

.container-fluid {
    padding: 0 !important;
}

html {    
    background-color: #61666D !important;
    color: #ffffff !important;
}

.siteHeader {
    border-bottom: 1px solid black;
    height: 50px;
    text-align: right;
}

.siteHeader a {
    display: inline-block;
    margin: 10px;
    padding-top: 15px;
}
