body {
    height: 100%;
    width: 100%;
}

header {
    background-color: gray;
    color: white;
    font-family: 'Abel', sans-serif;
    height: 20%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 1000;
}

#mugshot {
    border-radius: 15px;
    height: 300px;
}

#name {
    font-size: 100px;
    text-align: left;
}
