body {
    height: 100%;
    width: 100%;
}

header {
    background-color: gray;
    color: white;
    font-family: 'Abel', sans-serif;
    height: 45%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#info {
    font-size: 25px;
}

#location {
    text-align: left;
}

#mugshot {
    border-radius: 15px;
    height: 300px;
}

#name {
    font-size: 75px;
    text-align: left;
}

#profession {
    text-align: right;
}
