.nameLabel {
    display: inline;
}

.navMenu {
    color: #ffffff;
    display: inline;
    font-size: 1.25vw;
    margin-left: 25px;
    top: 50px;
}

.navMenu a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
}

.navMenu a:hover {
    background-color: #949494; 
    color: white;
    cursor: pointer;   
}

.navMenu .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navMenu a:not(:first-child) {
        display: none;
    }
    
    .navMenu .icon {
        display: block;
        float: right; 
    }
    
    .navMenu.responsive {
        position: relative;
    }
    
    .navMenu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navMenu.responsive a {
        display: block;
        float: none;
        text-align: left;
    }
}
