<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>About - Murphy Champion</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/site.css" />
        
        <script src="scripts/external/jquery-3.2.1.min.js"></script>
        <script src="scripts/external/bootstrap.min.js"></script>
        <script src="scripts/site.js"></script>
    </head>
    <body>
        <div class="container-fluid">            
            <header>                                
                <label class="name">Murphy Champion</label>                
                <div class="navMenu" id="navMenu">
                    <div id="about" class="tab">About</div>
                    <div id="cv" class="tab">Curriculum Vitae</div>
                    <div id="contact" class="tab">Contact</div>
                    <div class="icon tab" onclick="toggleNavMenu()">&#9776;</div>
                </div>                
            </header>           
            <main>
                <content>
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </content>
            </main>
        </div>
    </body>
</html>
